### Loading in the Data and setting the index

In [2]:
import pandas as pd
import numpy as np

securities_df = pd.read_csv('spy_tlt_gld.csv')
securities_df['Date'] = pd.to_datetime(securities_df['Date'], dayfirst=False)
securities_df.set_index('Date', inp)

         Date    GLD         SPY        TLT
0  2007-01-03  62.28  106.930310  57.971245
1  2007-01-04  61.65  107.157234  58.322742
2  2007-01-05  60.17  106.302510  58.075394
3  2007-01-08  60.48  106.794174  58.173035
4  2007-01-09  60.85  106.703410  58.173035